<?xml version="1.0" encoding="UTF-8"?>
<config>
  <max_generations>500</max_generations>
  <target_score>0.0</target_score>
  <nb_individuals>1000</nb_individuals>

  <selection>
    <tournament_size>10</tournament_size>
  </selection>

  <crossover>
    <probability>0.2</probability>
  </crossover>

  <mutation>
    <probability>0.02</probability>
    <build_method>1</build_method>
    <max_depth>5</max_depth>
  </mutation>

  <dataset>
    <data>../data/polynomial.csv</data>
    <train>0.7</train>
    <test>0.2</test>
    <valid>0.1</valid>
  </dataset>

  <tree_config>
    <method>1</method>
    <depth>5</depth>
  </tree_config>
</config>
